body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('plant-aceuil.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
h1.text {
    padding-left: 490px; 
    color:black;
    font-size: 30px;
    margin-bottom: 30px;
    color: #1e4d24;
}

h3 {
    color: #333;
    font-size: 1.2em;
    text-align: center;
   
}